[flake8]
max-line-length = 88
extend-ignore = E203
exclude = .git,__pycache__,.venv,.*_cache,*_pb2.py,*pb2_grpc.py
per-file-ignores =
    # module level import not at top of file
    finsy/proto/__init__.py: E402
