[tool.poetry]
name = "finsy"
version = "0.13.0"
description = "P4Runtime Client Library"
license = "Apache-2.0"
authors = ["Bill Fisher <william.w.fisher@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/byllyfish/finsy"
classifiers = [
  "Development Status :: 3 - Alpha", 
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Framework :: AsyncIO",
]

[tool.poetry.urls]
"Release Notes" = "https://github.com/byllyfish/finsy/blob/main/CHANGELOG.md"
"Issue Tracker" = "https://github.com/byllyfish/finsy/issues"

[tool.poetry.dependencies]
python = "^3.10"
grpcio = "^1.51.1"
macaddress = "^2.0.2"
parsy = "^2.0.0"
pyee = "^9.0.4"
pylev = "^1.4.0"
protobuf = "^4.21.12"

[tool.poetry.dev-dependencies]
pytest = "^7.2.1"
black = "^23.1.0"
pytest-asyncio = "^0.20.3"
mypy = "^1.0.0"
pdoc = "^13.0.0"
pyright = "^1.1.293"
pytest-cov = "^4.0.0"
pylint = "^2.16.1"

[tool.poetry.group.dev.dependencies]
prometheus-client = "^0.16.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = '-s --log-cli-format="%(created).03f %(levelname)s %(name)s %(message)s" --log-cli-level=DEBUG --log-file-format="%(created).03f %(levelname)s %(name)s %(message)s"'
norecursedirs = ["examples"]

[tool.pyright]
ignore = [
  "finsy/proto/**/*_pb2.py", 
  "finsy/proto/**/*_pb2.pyi", 
  "finsy/proto/**/*_pb2_grpc.py", 
  "finsy/proto/**/*_pb2_grpc.pyi", 
  "examples/ngsdn/net/topo-v6.py",
  "examples/simple/net/simple_topo.py",
  "examples/tunnel/net/tunnel_topo.py",
  "examples/tests/*.py"
]
strict = [
  "examples/**/*.py", 
  "finsy/*.py",
  "tests/test_p4data.py",
  "tests/test_p4entity.py",
  "tests/test_p4values.py",
  "tests/test_controller.py",
  "tests/test_switch.py"
]
useLibraryCodeForTypes = true

# Enable additional warnings for things not enabled by `strict`.
reportUninitializedInstanceVariable = "warning"
reportCallInDefaultInitializer = "warning"
# reportUnnecessaryTypeIgnoreComment = "warning"

[tool.black]
target-version = ['py310']
required-version = "23.1.0"
extend-exclude = "_pb2(_grpc)?\\.pyi?$"

[tool.isort]
profile = "black"
skip_glob = ["*_pb2.py", "*_pb2_grpc.py"]

[tool.coverage.run]
omit = ["*_pb2.py", "*_pb2_grpc.py"]

[tool.pylint.main]
ignore-patterns = [".*_pb2\\.py", ".*_pb2_grpc\\.py"]
ignore-paths = ["finsy/proto"]

[tool.pylint.basic]
good-names = ["i", "j", "k", "v", "ex", "Run", "_", "m", "s", "ee", "up", "id", "vt"]

[tool.pylint.design]
max-attributes = 15
max-public-methods = 25

[tool.pylint.format]
max-module-lines = 2500

[tool.pylint."messages control"]
disable = ["wrong-import-position", "cyclic-import", "protected-access", "too-few-public-methods"]

[tool.pylint.variables]
allowed-redefined-builtins = ["format"]

[tool.mypy]
disallow_untyped_defs = true
exclude = [ ".+_pb2.py", ".+_pb2_grpc.py" ]
